@model UserToReturnDto
<div class="my-3">
    <label asp-for="UserName" class="col-form-label">Name</label>
    <input   asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="FirstName" class="col-form-label">Phone</label>
    <input   asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="LastName" class="col-form-label">Phone</label>
    <input   asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="Email" class="col-form-label">Email</label>
    <input   asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

</div>

<div>
    <input type="submit" value="create" class="btn btn-info" />
    <a asp-action="Index" A class="btn btn-light"> Back to List </a>

</div>