@model UserToReturnDto

<div class="my-3">
    <label asp-for="UserName" class="col-form-label">Name</label>
    <input disabled asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="FirstName" class="col-form-label">Phone</label>
    <input disabled asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="LastName" class="col-form-label">Phone</label>
    <input disabled asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="Email" class="col-form-label">Email</label>
    <input disabled asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

</div>

