@using assignement_3.PL.dto
@model CreatDepartmentDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<form class="my-5" asp-action="Create">

    <partial name="DepartmentPartialViews/_CreatEditPartialView"></partial>
    <div>
        <input type="submit" value="create" class="btn btn-info"/>
        <a asp-action="Index" A class="btn btn-light" > Back to List </a>

    </div>
</form>

