@using assignement_3.PL.dto
@model CreatDepartmentDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<form class="my-5" asp-action="Create">

    <div class="my-3">
        <label asp-for="Code" class="col-form-label">Code</label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>

    </div>
     <div class="my-3">
        <label asp-for="Name" class="col-form-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"  class="text-danger"></span>

    </div>
    <div class="my-3">
        <label asp-for="CreateAt" class="col-form-label">DateOfCreation</label>
        <input asp-for="CreateAt" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div>
        <input type="submit" value="create" class="btn btn-info"/>
        <a asp-action="Index" A class="btn btn-light" > Back to List </a>

    </div>
</form>

