@model Department
@{
    ViewData["Title"] = "Delete";
}

<form asp-action="Delete">
    <partial name="DepartmentPartialViews/_DeleteDetailsPartialView"></partial>

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

