@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model is null)
{

}
else
{
    <form class="my-5" asp-action="Create">

        <div class="my-3">
            <label asp-for="Code" class="col-form-label">Code</label>
            <input asp-for="Code" class="form-control" disabled />

        </div>
        <div class="my-3">
            <label asp-for="Name" class="col-form-label">Name</label>
            <input asp-for="Name" class="form-control" disabled />

        </div>
        <div class="my-3">
            <label asp-for="CreateAt" class="col-form-label">DateOfCreation</label>
            <input asp-for="CreateAt" class="form-control" disabled />

        </div>
        <div>
            <a asp-action="Update" class="btn btn-info" asp-route-id="@Model.Id"> Update</a>
            <a asp-action="Index" A class="btn btn-light"> Back to List </a>


        </div>
    </form>
}
