@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit">
    <partial name="DepartmentPartialViews/_CreatEditPartialView"></partial>

    <div class="my-4">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
    
</form>