@model RollToReturnDto

<div class="my-3">
    <label asp-for="Name" class="col-form-label">Name</label>
    <input disabled asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

</div>

<div class="my-3">

    <input disabled class="form-check-input" asp-for="CreatePermission" type="checkbox" value="">
    <label class="form-check-label" asp-for="CreatePermission">
        CreatePermission
    </label>

</div>

<div class="my-3">

    <input disabled class="form-check-input" asp-for="EditPermission" type="checkbox" value="">
    <label class="form-check-label" asp-for="EditPermission">
        EditPermission
    </label>

</div>
<div class="my-3">

    <input disabled class="form-check-input" asp-for="DeletePermission" type="checkbox" value="">
    <label class="form-check-label" asp-for="DeletePermission">
        DeletePermission
    </label>

</div>
<div class="my-3">

    <input disabled class="form-check-input" asp-for="ShowRolePage" type="checkbox" value="">
    <label class="form-check-label" asp-for="ShowRolePage">
        ShowRolePage
    </label>

</div>
<div class="my-3">

    <input disabled class="form-check-input" asp-for="ShowUserPage" type="checkbox" value="">
    <label class="form-check-label" asp-for="ShowUserPage">
        ShowUserPage
    </label>

</div>

