@model RollToReturnDto

<div class="my-3">
    <label asp-for="Name" class="col-form-label">Name</label>
    <input disabled asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

</div>


