
@{
	ViewData["Title"] = "";
    Layout = "~/Views/Shared/_AuthLauout.cshtml";
}


		<div asp-validation-summary="All" class=" m-3 text-danger text-center">
	<h1 class="text text-danger">AccessDenied</h1>
		</div>
		


