
@{
	ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_AuthLauout.cshtml";
}


		<div asp-validation-summary="All" class=" m-3 alert alert-danger">
	<h1 class="text text-danger">AccessDenied</h1>
		</div>
		


