
@{
    ViewData["Title"] = "CheckYourPhone";
    Layout = "~/Views/Shared/_AuthLauout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class=" m-3 alert alert-danger">
		</div>
		<h1>CheckYourPhone</h1>

	</div>
</div>
