@model ForgetPasswordDto
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLauout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class=" m-3 alert alert-danger">
		</div>
		<form asp-action="sendEmailForgetPassword" method="post">
			
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			
			<input type="submit" value="sendEmailForgetPassword">
		</form>
		<p>have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>

@section ValidationSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}