@model SignUpDto
@inject RoleManager<IdentityRole> _rolemanager;

@{
	ViewData["Title"] = "SignUp";
	Layout = "~/Views/Shared/_AuthLauout.cshtml";

}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class=" m-3 alert alert-danger" >
		</div>
		<form asp-action="SignUp" method="post">
			<input class="text my-2" asp-for="UserName" placeholder="Username" required="">
			<br />
			<input class="text my-2" asp-for="FirstName" placeholder="Firstrname" required="">
			<br />
			<input class="text my-2" asp-for="LastName" placeholder="Lastname" required="">
			<input class="text email my-2" asp-for="Email" placeholder="Email" required="">
			<input class="text my-2 " asp-for="PhonNumber" placeholder="Phone Number" required="">
			<span asp-validation-for="PhonNumber" class="text-danger"></span>

			<input class="text my-2" asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass my-2" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">

			<select class="form-select w-100 p-4" asp-for = "Role" >
				<option selected>Select user Role </option>

			@foreach (var role in _rolemanager.Roles.Select(u => new RollToReturnDto()
			{

				Id = u.Id,
				Name = u.Name,
			})){
					<option value="@role.Id">@role.Name </option>
			}

			</select>
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="IsAgree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>

@section ValidationSection{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

