@model SignInDtocs
@{
	ViewData["Title"] = "SignIn";
	Layout = "~/Views/Shared/_AuthLauout.cshtml";
	var message = ViewBag.message as string;
	var Successmessage = ViewBag.Successmessage as string;

}


@if (!string.IsNullOrEmpty(message)){
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script type="text/javascript">
		toastr.error("@message")
	</script>
}

@if (!string.IsNullOrEmpty(Successmessage))
{
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script type="text/javascript">
		toastr.success("@message")
	</script>
}

		<div asp-validation-summary="All" class=" m-3 text-danger">
	<div></div>
		</div>

		@* <div data-mdb-input-init class="form-outline mb-4"> *@
		@* 	<input type="email" id="typeEmailX-2" class="form-control form-control-lg" /> *@
		@* 	<label class="form-label" for="typeEmailX-2">Email</label> *@
		@* </div> *@

		@* <div data-mdb-input-init class="form-outline mb-4"> *@
		@* 	<input type="password" id="typePasswordX-2" class="form-control form-control-lg" /> *@
		@* 	<label class="form-label" for="typePasswordX-2">Password</label> *@
		@* </div> *@

		@* <!-- Checkbox --> *@
		@* <div class="form-check d-flex justify-content-start mb-4"> *@
		@* 	<input class="form-check-input" type="checkbox" value="" id="form1Example3" /> *@
		@* 	<label class="form-check-label" for="form1Example3"> Remember password </label> *@
		@* </div> *@

		@* <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">Login</button> *@

		@* <hr class="my-4"> *@

		@* <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" *@
		@* 		type="submit"> *@
		@* 	<i class="fab fa-google me-2"></i> Sign in with google *@
		@* </button> *@
		@* <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;" *@
		@* 		type="submit"> *@
		@* 	<i class="fab fa-facebook-f me-2"></i>Sign in with facebook *@
		@* </button> *@

		


<form asp-action="SignIn" method="post">
		<div class="mb-3">
		<label asp-for="Email" class="form-label">Email address</label>
		<input type="email" class="form-control" asp-for="Email" required>
		</div>
		<div class="mb-3">
		<label asp-for="Password" class="form-label">Password</label>
		<input  class="form-control" asp-for="Password" required>
		</div>
		<div class="mb-3 form-check">
		<input type="checkbox" class="form-check-input" asp-for="Remember">
		<label class="form-check-label" asp-for="Remember">Remember me</label>
		</div>
		<div class="d-grid">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>

	</form>

<div class="d-grid gap-2 mb-3 my-2">
	<a asp-action="GoogleLogin" class="btn btn-social btn-google">
		<i class="bi bi-google me-2"></i> Sign in with Google
	</a>
	<a asp-action="FacebookLogin" class="btn btn-social btn-facebook">
		<i class="bi bi-facebook me-2"></i> Sign in with Facebook
	</a>

</div>
@* 	<div class="text-center mt-3"> *@
@* 		<a href="#" class="text-decoration-none">Forgot password?</a> *@
@* 	</div> *@

@* 	<div class="mb-3"> *@
@* 		<input asp-for="Email" class="form-control form-control border-1 border-dark " placeholder="Email" required=""> *@
@* 	</div> *@
@* 	<div class="mb-3"> *@
@* 		<input asp-for="Password" class="form-control form-control  border-1 border-dark" placeholder="Password" required=""> *@
@* 	</div> *@
			
@* 	<div class="mb-3 form-check"> *@
@* 		<input class="form-check-input" type="checkbox" id="form1Example3" asp-for="Remember" class="checkbox"> *@
@* 		<label class="form-check-label" asp-for="Remember"> Remember Me </label> *@
@* 	</div> *@
@* 	<div class=" d-flex justify-content-center align-items-center my-3"> *@
@* 		<input type="submit" class="btn btn-danger w-100 text-white" value="SignIn"> *@

@* 	</div> *@
	

	
@* 		<div class="text-center"> *@
@* 	<p><a asp-action="GoogleLogin" class="w-50 text-danger mx-auto my-2 text-decoration-none">Login With Google</a> </p> *@
@* 	<p><a asp-action="FacebookLogin" class="w-50  mx-auto my-2 text-decoration-none">Login With Facebook</a> </p> *@
@* 		</div> *@
		
<p class="my-2">Don't have an Account? <a asp-action="SignUp" class="text-decoration-none"> SIGNUP ? </a></p> 
<p class="my-2">Do you have an Account? <a asp-action="ForgetPassword" class="text-decoration-none"> Forget Password </a></p>



@section ValidationSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
