@model SignInDtocs
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLauout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class=" m-3 alert alert-danger">
		</div>
		<form asp-action="SignIn" method="post">
			<input class="text" asp-for="Email" placeholder="Email" required="">

			<input class="text" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="Remember" class="checkbox" >
					<span>Remember me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SignIn">
		</form>
		<p>Don't have an Account? <a asp-action="SignUp"> SIGNUP ? </a></p>
		<p>Do you have an Account? <a asp-action="ForgetPassword"> Forget Password </a></p>

	</div>
</div>

@section ValidationSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
