@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
    ViewData["Title"] = "Home Page";
    ViewContext.ViewBag.test = "myValue";
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
    IList<string> roles = new List<string>();
    if(user is not null){
        await SignInManager.RefreshSignInAsync(user);
         roles = await UserManager.GetRolesAsync(user);
    }

    IdentityRole? getrole;
    IList<Claim> role_claims = new List<Claim>();
    if (roles.Count !=0)
    {
        getrole = await RoleManager.FindByNameAsync(roles.First());
        role_claims = await RoleManager.GetClaimsAsync(getrole);
    }




    //var role = rol;

    // var roleclaims = role; 

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assignement_3.PL.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"  />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ZiadRady Mvc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                        </li>

                        @if (role_claims.Count != 0)
                        {
                            @if (role_claims?.Where(c => c.Type == "ShowUserPage".ToLower())?.FirstOrDefault()?.Value.ToLower() == "true")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User</a>
                                </li>
                            }

                            @if (role_claims?.Where(c => c.Type == "ShowRolePage".ToLower())?.FirstOrDefault()?.Value.ToLower() == "true")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                                </li>
                            }

                        }
                    </ul>


                    <ul class=" navbar-nav flex-grow-1 flex-row-reverse mx-3">
                        <li class="nav-item">
                            <a class="   nav-link text-white btn btn-danger" asp-area="" asp-controller="Account" asp-action="SignOut">SignOut</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @* @if (User.IsInRole("Admin".ToLower())) *@
            @* { *@
            @*     <h1>Hi Admin</h1> *@
            @* } *@
            @* else *@
            @* { *@
            @*     <h1>Hi </h1> *@
            @* } *@

           
            
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

     
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ZiadRady Mvc -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("ValidationSertion", required: false)
</body>
</html>
