@model string
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject IHttpContextAccessor http_context
@{
    checks_role role = new checks_role(SignInManager, UserManager, RoleManager, http_context);

    var role_claims = await role.check();
    //var role = rol;

    // var roleclaims = role;

}
<td>

    <a asp-action="Details" class="btn btn-warning text-white" asp-route-id="@Model"> Details</a>


</td>
<td>
    @if (role_claims.Count != 0)
    {
        @if (role_claims?.Where(c => c.Type == "EditPermission").FirstOrDefault()?.Value.ToLower() == "true")
        {
            <a asp-action="Edit" class="btn btn-primary text-white" asp-route-id="@Model"> Update</a>
        }
    }

</td>
<td>
    @if (role_claims.Count != 0)
    {
        @if (role_claims?.Where(c => c.Type == "DeletePermission").FirstOrDefault()?.Value.ToLower() == "true")
        {
            <a asp-action="Delete" class="btn btn-danger text-white" asp-route-id="@Model"> Delete</a>
        }

    }

</td>