<form>
	<div> 
		<div class="d-flex justify-content-center align-items-center">
			<input placeholder="Search By Name" name="SearchInput" id="SearchInput" class="form-control w-50 mx-2 " />
			<input type="submit" class=" btn btn-success " value="Search" />
		</div>
	
	</div>
</form>
