@model CreatEmployeeDto
@inject IDepartmentReprositories _departmentReprosatory
@{
    var Departments = new SelectList(await _departmentReprosatory.GetAll(), "Id", "Name");
}
<div class="my-3">
    <label asp-for="Name" class="col-form-label">Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="Email" class="col-form-label">Email</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="Phone" class="col-form-label">Phone</label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="Address" class="col-form-label">Address</label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="Age" class="col-form-label">Age</label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="Salary" class="col-form-label">Salary</label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>

</div>
<div class="my-3">
    <input asp-for="IsActive" class="form-check" />
    <label asp-for="IsActive" class="col-form-label"></label>

</div>

<div class="my-3">
    <input asp-for="IsDeleted" class="form-check" />
    <label asp-for="IsDeleted" class="col-form-label"></label>

</div>
<div class="my-3">
    <label asp-for="CreateAt" class="col-form-label"></label>
    <input asp-for="CreateAt" class="form-control" />
    <span asp-validation-for="CreateAt" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="HiringDate" class="col-form-label"></label>
    <input asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>

</div>

<div class="my-3">
    <label asp-for="DepartmentId" class="col-form-label " ></label>
    <select asp-for="DepartmentId" asp-items="Departments" class="form-control">
    <option value="@null">---select Department---</option>
</select>

</div>
<div class="my-3">
    <label asp-for="Image" class="col-form-label "></label>
    <input asp-for="Image" type="file" class="form-control" />

</div>
<div>
    <input type="submit" value="create" class="btn btn-info" />
    <a asp-action="Index" A class="btn btn-light"> Back to List </a>

</div>
